In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('RCOM.csv');
print('Number of data points : ', df.shape[0])
print('Number of features : ', df.shape[1])
print('Features : ', df.columns.values)
df.head()

Number of data points :  494
Number of features :  15
Features :  ['Symbol' 'Series' 'Date' 'Prev Close' 'Open Price' 'High Price'
 'Low Price' 'Last Price' 'Close Price' 'Average Price'
 'Total Traded Quantity' 'Turnover' 'No. of Trades' 'Deliverable Qty'
 '% Dly Qt to Traded Qty']

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,RCOM,EQ,15-May-2017,32.45,32.50,32.60,31.70,32.00,32.00,31.99,7126316,2.279973e+08,11883,1908042,26.77
1,RCOM,EQ,16-May-2017,32.00,32.05,32.35,31.85,32.00,32.10,32.12,7274881,2.336877e+08,9976,2211910,30.40
2,RCOM,EQ,17-May-2017,32.10,32.10,32.30,31.70,31.90,31.95,31.97,6245114,1.996360e+08,8838,1399815,22.41
3,RCOM,EQ,18-May-2017,31.95,31.60,31.90,31.00,31.05,31.05,31.34,11189938,3.506776e+08,17051,3629175,32.43
4,RCOM,EQ,19-May-2017,31.05,31.20,31.45,30.25,30.55,30.55,30.80,11898780,3.664547e+08,18065,3309529,27.81

In [3]:
#to remove Series which are not equal to EQ..So that dates dont repeat
df=df[df['Series']=='EQ']
print('No of points left: ',df.shape[0])
df.head()

No of points left:  494

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,RCOM,EQ,15-May-2017,32.45,32.50,32.60,31.70,32.00,32.00,31.99,7126316,2.279973e+08,11883,1908042,26.77
1,RCOM,EQ,16-May-2017,32.00,32.05,32.35,31.85,32.00,32.10,32.12,7274881,2.336877e+08,9976,2211910,30.40
2,RCOM,EQ,17-May-2017,32.10,32.10,32.30,31.70,31.90,31.95,31.97,6245114,1.996360e+08,8838,1399815,22.41
3,RCOM,EQ,18-May-2017,31.95,31.60,31.90,31.00,31.05,31.05,31.34,11189938,3.506776e+08,17051,3629175,32.43
4,RCOM,EQ,19-May-2017,31.05,31.20,31.45,30.25,30.55,30.55,30.80,11898780,3.664547e+08,18065,3309529,27.81

In [4]:
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,RCOM,EQ,07-May-2019,2.0,2.00,2.1,2.0,2.1,2.1,2.06,64199212,1.325275e+08,9103,34677474,54.02
490,RCOM,EQ,08-May-2019,2.1,2.10,2.2,2.1,2.2,2.2,2.18,27455636,5.972756e+07,4208,14957834,54.48
491,RCOM,EQ,09-May-2019,2.2,2.30,2.3,2.3,2.3,2.3,2.30,7854126,1.806449e+07,2385,7711773,98.19
492,RCOM,EQ,10-May-2019,2.3,2.40,2.4,2.4,2.4,2.4,2.40,3584592,8.603021e+06,1560,3584592,100.00
493,RCOM,EQ,13-May-2019,2.4,2.45,2.5,2.3,2.3,2.3,2.40,42329516,1.014503e+08,9541,26309575,62.15

In [5]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,16.820142,16.863259,17.443016,16.225709,16.777328,16.759109,16.821559,8.181477e+07,1.489670e+09,56062.121457,1.170347e+07,20.647409
std,7.322270,7.368338,7.612551,7.105002,7.312129,7.317379,7.355214,9.697732e+07,2.484907e+09,71264.933474,1.156378e+07,19.822431
min,1.850000,1.850000,1.850000,1.850000,1.850000,1.850000,1.850000,2.367025e+06,4.734050e+06,1408.000000,1.166757e+06,5.370000
25%,12.912500,12.912500,13.362500,12.312500,12.912500,12.862500,12.870000,3.247540e+07,4.653840e+08,21688.000000,5.204915e+06,10.862500
50%,15.925000,16.000000,16.575000,15.450000,15.850000,15.900000,15.910000,5.695370e+07,8.004086e+08,38198.000000,8.018976e+06,14.075000
75%,22.287500,22.337500,22.900000,21.650000,22.337500,22.237500,22.412500,9.316670e+07,1.597794e+09,61075.500000,1.278285e+07,20.247500
max,36.150000,37.250000,40.150000,33.950000,36.300000,36.150000,36.580000,8.277140e+08,2.506662e+10,648577.000000,8.167163e+07,100.000000

In [6]:
closing_price=df['Close Price'].tolist()
closing_price=closing_price[-90:]

In [7]:
print(len(closing_price))
print(closing_price)

90
[14.4, 14.35, 13.85, 13.5, 14.0, 13.9, 14.0, 13.8, 13.85, 13.7, 13.4, 13.45, 13.8, 13.55, 13.35, 13.1, 13.35, 12.95, 12.85, 12.45, 12.15, 12.1, 11.55, 11.75, 11.6, 7.55, 5.55, 5.5, 5.2, 5.35, 5.35, 5.65, 5.8, 5.55, 5.5, 6.1, 6.0, 5.75, 6.35, 6.5, 6.0, 6.4, 6.5, 6.5, 6.6, 6.65, 6.05, 5.9, 5.85, 5.35, 5.1, 4.9, 4.65, 4.4, 4.0, 4.4, 4.8, 5.25, 5.0, 4.75, 4.55, 4.35, 4.15, 3.95, 3.8, 3.65, 3.5, 3.35, 3.2, 3.05, 2.9, 2.8, 2.7, 2.6, 2.5, 2.4, 2.3, 2.2, 2.1, 2.0, 1.9, 1.85, 1.9, 1.95, 2.0, 2.1, 2.2, 2.3, 2.4, 2.3]

In [8]:
max_cp=max(closing_price)
print(max_cp)
min_cp=min(closing_price)
print(min_cp)
mean_cp=sum(closing_price)/len(closing_price)
print(mean_cp)

14.4
1.85
6.782777777777777

In [9]:
#Looking at every feature closely
Feature_list=df.columns.values
for features in Feature_list:
    print(features)
    print(df[features].describe())
    print('-'*50)

Symbol
count      494
unique       1
top       RCOM
freq       494
Name: Symbol, dtype: object
--------------------------------------------------
Series
count     494
unique      1
top        EQ
freq      494
Name: Series, dtype: object
--------------------------------------------------
Date
count             494
unique            494
top       17-Sep-2018
freq                1
Name: Date, dtype: object
--------------------------------------------------
Prev Close
count    494.000000
mean      16.820142
std        7.322270
min        1.850000
25%       12.912500
50%       15.925000
75%       22.287500
max       36.150000
Name: Prev Close, dtype: float64
--------------------------------------------------
Open Price
count    494.000000
mean      16.863259
std        7.368338
min        1.850000
25%       12.912500
50%       16.000000
75%       22.337500
max       37.250000
Name: Open Price, dtype: float64
--------------------------------------------------
High Price
count    494.000000
mean      17.443016
std        7.612551
min        1.850000
25%       13.362500
50%       16.575000
75%       22.900000
max       40.150000
Name: High Price, dtype: float64
--------------------------------------------------
Low Price
count    494.000000
mean      16.225709
std        7.105002
min        1.850000
25%       12.312500
50%       15.450000
75%       21.650000
max       33.950000
Name: Low Price, dtype: float64
--------------------------------------------------
Last Price
count    494.000000
mean      16.777328
std        7.312129
min        1.850000
25%       12.912500
50%       15.850000
75%       22.337500
max       36.300000
Name: Last Price, dtype: float64
--------------------------------------------------
Close Price
count    494.000000
mean      16.759109
std        7.317379
min        1.850000
25%       12.862500
50%       15.900000
75%       22.237500
max       36.150000
Name: Close Price, dtype: float64
--------------------------------------------------
Average Price
count    494.000000
mean      16.821559
std        7.355214
min        1.850000
25%       12.870000
50%       15.910000
75%       22.412500
max       36.580000
Name: Average Price, dtype: float64
--------------------------------------------------
Total Traded Quantity
count    4.940000e+02
mean     8.181477e+07
std      9.697732e+07
min      2.367025e+06
25%      3.247540e+07
50%      5.695370e+07
75%      9.316670e+07
max      8.277140e+08
Name: Total Traded Quantity, dtype: float64
--------------------------------------------------
Turnover
count    4.940000e+02
mean     1.489670e+09
std      2.484907e+09
min      4.734050e+06
25%      4.653840e+08
50%      8.004086e+08
75%      1.597794e+09
max      2.506662e+10
Name: Turnover, dtype: float64
--------------------------------------------------
No. of Trades
count       494.000000
mean      56062.121457
std       71264.933474
min        1408.000000
25%       21688.000000
50%       38198.000000
75%       61075.500000
max      648577.000000
Name: No. of Trades, dtype: float64
--------------------------------------------------
Deliverable Qty
count    4.940000e+02
mean     1.170347e+07
std      1.156378e+07
min      1.166757e+06
25%      5.204915e+06
50%      8.018976e+06
75%      1.278285e+07
max      8.167163e+07
Name: Deliverable Qty, dtype: float64
--------------------------------------------------
% Dly Qt to Traded Qty
count    494.000000
mean      20.647409
std       19.822431
min        5.370000
25%       10.862500
50%       14.075000
75%       20.247500
max      100.000000
Name: % Dly Qt to Traded Qty, dtype: float64
--------------------------------------------------

In [10]:
df['Date'] = pd.to_datetime(df.Date)

In [11]:
df['Date'].describe

<bound method NDFrame.describe of 0     2017-05-15
1     2017-05-16
2     2017-05-17
3     2017-05-18
4     2017-05-19
         ...
489   2019-05-07
490   2019-05-08
491   2019-05-09
492   2019-05-10
493   2019-05-13
Name: Date, Length: 494, dtype: datetime64[ns]>

In [12]:
max_date=max(df['Date'])
min_date=min(df['Date'])
print(max_date-min_date)

728 days 00:00:00

In [13]:

import datetime

df['Year']=df.Date.dt.year
df['Month']=df.Date.dt.month

In [14]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month
0,RCOM,EQ,2017-05-15,32.45,32.50,32.60,31.70,32.00,32.00,31.99,7126316,2.279973e+08,11883,1908042,26.77,2017,5
1,RCOM,EQ,2017-05-16,32.00,32.05,32.35,31.85,32.00,32.10,32.12,7274881,2.336877e+08,9976,2211910,30.40,2017,5
2,RCOM,EQ,2017-05-17,32.10,32.10,32.30,31.70,31.90,31.95,31.97,6245114,1.996360e+08,8838,1399815,22.41,2017,5
3,RCOM,EQ,2017-05-18,31.95,31.60,31.90,31.00,31.05,31.05,31.34,11189938,3.506776e+08,17051,3629175,32.43,2017,5
4,RCOM,EQ,2017-05-19,31.05,31.20,31.45,30.25,30.55,30.55,30.80,11898780,3.664547e+08,18065,3309529,27.81,2017,5

In [15]:
#finding VWAP=sum(closing price*total traded quantity)/sum(volume)

grp_my=df.groupby(by=['Month','Year'])

xx = grp_my.apply(
         lambda x: x.assign(vwap = x['Close Price']*x['Total Traded Quantity'])).sum()
yy= grp_my.sum()    

vwap=xx['vwap']/yy['Total Traded Quantity']

In [16]:
print(vwap)
len(vwap)

Month  Year
1      2018     200.615371
       2019     533.520225
2      2018     454.967463
       2019     252.105760
3      2018     472.346795
       2019     811.682518
4      2018     464.668110
       2019    1645.164637
5      2017    1137.970870
       2018     168.906820
       2019    4391.153415
6      2017     738.516758
       2018     355.732748
7      2017    1615.080300
       2018     634.431557
8      2017    1802.421953
       2018     249.132889
9      2017    1499.110165
       2018     469.603932
10     2017     992.436698
       2018     574.690694
11     2017     523.895418
       2018     650.352710
12     2017     174.395636
       2018     305.883965
Name: Total Traded Quantity, dtype: float64

25

In [17]:
from statistics import mean

#to get the average closing price over last n-days
#parameters are number of days and the dataframe
def avg_price(n,df):
    avg_df=mean(df['Close Price'][-n:])
    return avg_df

#to get the profit/loss percentage over last n-days
#parameters are number of days and the dataframe    
def profit_loss_perc(n,df):
    first=df['Close Price'].iloc[-n]
    second=df['Close Price'].iloc[-1]
    num=first-second
    denom=abs(first)
    profit_loss=(num/denom)*100
    return profit_loss
            
# getting the average and profit/loss percentage over the last
# 1 week=7 days
# 2 weeks=14 days
# 1 month=30 days
# 3 months=90 days
# 6 months=180 days
# 1 year=365 days
no_days=[7,14,30,90,180,365]
for i in no_days:
    print('Average of last {} days:'.format(i))
    print(avg_price(i,df))
    print('Profit/Loss percent of last {} days:'.format(i))
    print(profit_loss_perc(i,df))
    print('-'*20)

Average of last 7 days:
2.1785714285714284
Profit/Loss percent of last 7 days:
-17.948717948717942
--------------------
Average of last 14 days:
2.107142857142857
Profit/Loss percent of last 14 days:
0.0
--------------------
Average of last 30 days:
2.765
Profit/Loss percent of last 30 days:
49.45054945054945
--------------------
Average of last 90 days:
6.782777777777778
Profit/Loss percent of last 90 days:
84.02777777777779
--------------------
Average of last 180 days:
10.634444444444444
Profit/Loss percent of last 180 days:
88.86198547215496
--------------------
Average of last 365 days:
15.244657534246576
Profit/Loss percent of last 365 days:
80.9917355371901
--------------------

In [18]:
#Adding new row with daily percentage changes values
df['Day_Perc_Change']=df['Close Price'].pct_change()

In [19]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change
0,RCOM,EQ,2017-05-15,32.45,32.50,32.60,31.70,32.00,32.00,31.99,7126316,2.279973e+08,11883,1908042,26.77,2017,5,NaN
1,RCOM,EQ,2017-05-16,32.00,32.05,32.35,31.85,32.00,32.10,32.12,7274881,2.336877e+08,9976,2211910,30.40,2017,5,0.003125
2,RCOM,EQ,2017-05-17,32.10,32.10,32.30,31.70,31.90,31.95,31.97,6245114,1.996360e+08,8838,1399815,22.41,2017,5,-0.004673
3,RCOM,EQ,2017-05-18,31.95,31.60,31.90,31.00,31.05,31.05,31.34,11189938,3.506776e+08,17051,3629175,32.43,2017,5,-0.028169
4,RCOM,EQ,2017-05-19,31.05,31.20,31.45,30.25,30.55,30.55,30.80,11898780,3.664547e+08,18065,3309529,27.81,2017,5,-0.016103

In [20]:
#First value is Nan..Changing it to 0
df['Day_Perc_Change']=df['Day_Perc_Change'].fillna(0)

In [21]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change
0,RCOM,EQ,2017-05-15,32.45,32.50,32.60,31.70,32.00,32.00,31.99,7126316,2.279973e+08,11883,1908042,26.77,2017,5,0.000000
1,RCOM,EQ,2017-05-16,32.00,32.05,32.35,31.85,32.00,32.10,32.12,7274881,2.336877e+08,9976,2211910,30.40,2017,5,0.003125
2,RCOM,EQ,2017-05-17,32.10,32.10,32.30,31.70,31.90,31.95,31.97,6245114,1.996360e+08,8838,1399815,22.41,2017,5,-0.004673
3,RCOM,EQ,2017-05-18,31.95,31.60,31.90,31.00,31.05,31.05,31.34,11189938,3.506776e+08,17051,3629175,32.43,2017,5,-0.028169
4,RCOM,EQ,2017-05-19,31.05,31.20,31.45,30.25,30.55,30.55,30.80,11898780,3.664547e+08,18065,3309529,27.81,2017,5,-0.016103

In [22]:
def trends(perc): 
    if(perc>-0.5 and perc<0.5):
        return 'Slight or No change'
        
    elif(perc>0.5 and perc<1):
        return 'Slight positive'
    
    elif(perc>-1 and perc<-0.5):
        return 'Slight negative'
        
    elif(perc>1 and perc<3):
        return 'Positive'
        
    elif(perc>-3 and perc<-1):
        return 'Negative'
        
    elif(perc>3 and perc<7):
        return 'Among top gainers'
        
    elif(perc>-7 and perc<-3):
        return 'Among top losers'
        
    elif(perc>7):
        return 'Bull run'
        
    elif(perc<-7):
        return 'Bear drop'
    
df['Trends']=df['Day_Perc_Change'].map(trends)

In [23]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change,Trends
0,RCOM,EQ,2017-05-15,32.45,32.50,32.60,31.70,32.00,32.00,31.99,7126316,2.279973e+08,11883,1908042,26.77,2017,5,0.000000,Slight or No change
1,RCOM,EQ,2017-05-16,32.00,32.05,32.35,31.85,32.00,32.10,32.12,7274881,2.336877e+08,9976,2211910,30.40,2017,5,0.003125,Slight or No change
2,RCOM,EQ,2017-05-17,32.10,32.10,32.30,31.70,31.90,31.95,31.97,6245114,1.996360e+08,8838,1399815,22.41,2017,5,-0.004673,Slight or No change
3,RCOM,EQ,2017-05-18,31.95,31.60,31.90,31.00,31.05,31.05,31.34,11189938,3.506776e+08,17051,3629175,32.43,2017,5,-0.028169,Slight or No change
4,RCOM,EQ,2017-05-19,31.05,31.20,31.45,30.25,30.55,30.55,30.80,11898780,3.664547e+08,18065,3309529,27.81,2017,5,-0.016103,Slight or No change

In [24]:
grp_t=df.groupby(by=['Trends'])

tmean=grp_t['Total Traded Quantity'].mean()
tmedian=grp_t['Total Traded Quantity'].median()

print(tmean)
print(tmedian)

Trends
Slight or No change    8.085121e+07
Slight positive        5.568491e+08
Name: Total Traded Quantity, dtype: float64
Trends
Slight or No change     56941722
Slight positive        556849068
Name: Total Traded Quantity, dtype: int64

In [25]:
df.to_csv('week2.csv',index=False)